<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idle.campers.member.mapper.MemberMapper">

<select id="selectMember" resultType="member">
	SELECT * FROM tbl_user
	WHERE user_id = #{userId}
	<if test="userPw != null"> AND user_pw = #{userPw}</if>
</select>

<select id="findMember" resultType="member">
	SELECT * FROM tbl_user
	WHERE user_name = #{userName} AND user_email = #{userEmail}
	<if test="userId != null"> AND user_id = #{userId}</if>
</select>


<insert id="insertMember">
	INSERT INTO TBL_USER (USER_ID, USER_PW, USER_NAME, USER_TEL, USER_EMAIL, USER_AUTH, USER_ADDR)
	VALUES (#{userId}, #{userPw}, #{userName}, #{userTel}, #{userEmail}, #{userAuth}, #{userAddr})
</insert>

<update id="updateMember" parameterType="member">
	UPDATE TBL_USER
	SET USER_PW = #{userPw},
		<if test="userName != null">USER_NAME = #{userName},</if>
		<if test="userTel != null">USER_TEL = #{userTel},</if>
		<if test="userEmail != null">USER_EMAIL = #{userEmail},</if>
		<if test="userAddr != null">USER_ADDR = #{userAddr}</if>
	WHERE USER_ID = #{userId}
</update>

<update id="joinout" parameterType="member">
	UPDATE TBL_USER SET USER_STATE = 'false' WHERE USER_ID = #{userId}
</update>

</mapper>