<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idle.campers.board.dao.BoardMapper">
	<select id="boardList" resultType="board">
		select *
		from (select a.*, rownum as rnum
             from   (select *
                     from tbl_board
                     where brd_type = #{type}
	<if test="sch  == 'writer'">and BRD_WRITER LIKE '%' || #{keyword} || '%'</if>
	<if test="sch  == 'title'">and BRD_TITLE LIKE '%' || #{keyword} || '%'</if>
	<if test="sch  == 'content'">and BRD_CONTENT LIKE '%' || #{keyword} || '%'</if>
	<if test="sch  == 'wdate'">and brd_date between to_date(#{keyword}, 'yyyy-MM-dd')
								and TO_CHAR(TO_DATE(#{keyword}, 'yyyy-MM-dd') + INTERVAL '1' DAY, 'YYYY-MM-DD')</if>
					 order by brd_id desc
					) a
			
			) b
	<![CDATA[
		where b.rnum > (#{page} - 1) * 10
		and     b.rnum <= (#{page} * 10)
	]]>
	</select>
	
	  <select id="boardStar" >
  	SELECT * FROM TBL_BOARD WHERE BRD_ID = #{brdId}
  </select>
  
  <select id="boardSelect" parameterType="int">
  SELECT * FROM TBL_BOARD WHERE BRD_ID = #{brdId}
  
  </select>
  
  <select id="topInfoList" resultType="board">
	<![CDATA[
		select *
		from tbl_board
		where rownum <= 3
		and brd_type = 'inform'
		order by brd_id desc
		]]>
	</select>
  
  <update id="boardInquiry" parameterType="long">
  UPDATE TBL_BOARD SET BRD_READ = BRD_READ+1 WHERE BRD_ID=#{brdId}
  </update>
  
  <delete id="boardDelete" parameterType="int">
  DELETE FROM TBL_BOARD WHERE BRD_ID=#{brdId} 
  </delete>
  
  <update id="boardEdit" parameterType="com.idle.campers.board.dao.BoardVO">
  	UPDATE TBL_BOARD
  	SET   BRD_TITLE = #{brdTitle}
  		, BRD_CONTENT = #{brdContent}
  	WHERE BRD_ID = #{brdId} 
  	
  </update>
  
  <insert id="boardAdd" parameterType="com.idle.campers.board.dao.BoardVO">
  	INSERT INTO TBL_BOARD (BRD_ID, BRD_TITLE, BRD_WRITER, BRD_CONTENT,  BRD_TYPE, BRD_ADDR)
  	VALUES (board_seq.nextval, #{brdTitle}, #{brdWriter}, #{brdContent}, #{brdType}, #{brdAddr})
  	</insert>
  	
  	<select id="getTotalCnt" parameterType="String" resultType="int">
  		select count(1) 
		from tbl_board
		where brd_type = #{type}
	</select>
	
  	<select id="myBoardCnt">
  		SELECT COUNT(*) board_cnt
  		FROM TBL_BOARD WHERE BRD_WRITER =#{id}
  	</select>
  	
</mapper>