<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idle.campers.board.dao.BoardMapper">
	<select id="boardList" resultType="board">
		select *
		from tbl_board
		<if test="key  == 'free'">where board_type = #{type}</if>
		<if test="key  == 'experience'">where board_type = #{type}</if>
		<if test="key  == 'share'">where board_type = #{type}</if>
		<if test="key  == 'information'">where board_type = #{type}</if>
		order by brd_id desc
	</select>
</mapper>