@charset "UTF-8";
#container{
	box-sizing: border-box;
	margin: 0 auto; padding: 5px;
	width:1000px;
	overflow:auto; 
}/* 전체 div */

#userInfo{
	box-sizing: border-box;
	background-color: white;
	border: 1px solid black;	border-radius: 30px;
	overflow:auto; 	float: left;
	margin-top: 20%;
	width: 300px;
}/* userInfo div */

#userInfo *{
	margin: 10px auto;	text-align: center;
}/* userInfo div 안 중앙정렬 */

.userInfo{
	padding: 10px;	width: 300px;
}/*userInfo div 안 크기 */

#infoTbl th{
	text-align: right;
}

#userAction{
	box-sizing: border-box;
	overflow:auto; 	float: left;
	width:690px;
}

/* 버튼 */
button {
	display: inline-block;
	background-color: white;
	margin: auto;
	width: 100px;
	height: 36px;
	border-radius: 30px;
	font-size: 15px;
	cursor: pointer;
}
.infoBtn{
	display: inline-block;
	background-color: white;
	margin: auto;
	width: 100px;
	height: 36px;
	border-radius: 30px;
	font-size: 15px;
	cursor: pointer;
}
button:hover{
	color: orange;
}

ul{
	margin:0;
}

li{
	list-style-type: none;
	float: left;
	margin-left: 50px;
}

.actionView{
	box-sizing: border-box;
	overflow:auto; 	float: left;
	border: 1px solid black;	border-radius: 30px;
	width:650px;
	margin: 15px 0px 15px 20px; padding: 20px;
}/* 개별 div */

.actionView table{
	margin: 0;
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	display: table;
	text-align: center;
}
a{
	text-decoration-line: none;
	color: black;
}
a:hover{
	color: orange;
}
a:active{
	text-decoration-line: none;
	color: black;
}

/*정보수정 모달창*/
.modifyWindow{
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	position: absolute;
   	top: 0; left: 0;
  	width: 100%;
  	height: 100%;
  	background-color: rgba(0, 0, 0, 0.4);
}
.modifyWindow div{
	box-sizing: border-box;
	padding-top: 20px; /* Location of the box */
	overflow: auto;
	background-color: white;
	border-radius: 30px;
	margin: 20% auto;
	padding: 20px;
	width: 450px;
}

.modifyWindow th{
	text-align: right;
}


/*탈퇴 모달창*/
.byeWindow{
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	position: absolute;
   	top: 0; left: 0;
  	width: 100%;
  	height: 100%;
  	background-color: rgba(0, 0, 0, 0.4);
}
.byeWindow div{
	box-sizing: border-box;
	padding-top: 20px; /* Location of the box */
	overflow: auto;
	background-color: white;
	border-radius: 30px;
	margin: 20% auto;
	padding: 20px;
	width: 450px;
}
.byeWindow table{
	margin: 0 ;
	width: 100%;
	display: table;
	text-align: center;
}
.byeWindow form{
	margin-top: 20px;
}