#search-camp-all-div {
  background-color: #ffffff;
  padding: 50px 30px 50px 30px;
  margin: 20px 150px 50px;
  border-radius: 30px;
}

.search-camp, #map {
  width: 50%;
  height: 700px;
  display: inline-block;
}

.search-camp, #mainDiv {
  width: 49%;
  height: 700px;
  display: inline-block;
  border: 1px solid #ddd;
}

#search-user-input {
  width: 50%;
}

#search-user-input td {
  height: 50px;
  margin: 5px;
}

select {
  border: 1px solid #b1b1b1;;
  width: 90%;
  text-align: center;
  height: 55%;
  border-radius: 10px;
  padding: 2px;
}

.search-camp-input{
  border: 1px solid #000000;
  width: 97%;
  border-radius: 10px;
  padding: 2px;
  border: 1px solid #b1b1b1;;
}

#map-search-btn {
  border: none;
  width: 70px;
  height: 70px;
}

#contents-div {
  width: auto;
  height: auto;
}

/* 캠핑장 목록 관련 css------------------------------------------------------ */
.search-camp {
  background-color: #fff;
}

.search-camp table {
  width: 100%;
}

.search-camp table th {
  width: 20%;
  text-align: center;
  padding: 5px;
}

.search-camp table tr {
  border-top: 1px solid #cfcfcf;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #F36300;
}

.search-camp-inform-name {
  padding: 5px;
  font-weight: bold;
  font-size: 18px;
}

.search-camp-inform {
  padding: 20px;
}