<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idle.campers.room.mapper.RoomMapper">

	<select id="roomList" resultType="com.idle.campers.room.service.RoomVO">
		SELECT * FROM ROOM
		WHERE ROOM_CAMPID = #{campId}
	</select>

	<select id="selectRoom"  resultType="com.idle.campers.room.service.RoomVO">
		SELECT * FROM ROOM
		WHERE ROOM_CAMPID = #{campId} AND ROOM_ID = #{roomId}
	</select>

	<insert id="addRoom" parameterType="com.idle.campers.room.service.RoomVO">
		INSERT INTO ROOM (ROOM_ID, ROOM_CAMPID, ROOM_MANAGER, ROOM_NAME, ROOM_WEEKDAY, ROOM_WEEKEND, ROOM_PERSONNEL)
		VALUES (#{roomId}, #{roomCampid}, #{roomManager}, #{roomName}, #{roomWeekday}, #{roomWeekend}, #{roomPersonnel})
	</insert>

	<delete id="deleteRoom" parameterType="com.idle.campers.room.service.RoomVO">
		DELETE * FROM ROOM
		WHERE ROOM_CAMPID = #{roomCampid} AND ROOM_ID = #{roomId}
	</delete>
	
</mapper>