<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idle.campers.accuse.dao.AccuseMapper">
	
	<!-- 아이디 제한 리스트 -->
	<!-- <select id="AccuseList" resultType="com.idle.campers.accuse.dao.AccuseVO">
		SELECT * FROM TBL_ACCUSE
	</select> -->
	
	<select id="AccuseList" resultType="com.idle.campers.accuse.dao.AccuseVO">
		SELECT * FROM TBL_ACCUSE
	</select>
	
	<!-- 아이디 제한 유저 아이디 정보 -->
	<select id="AccuseSelectOne" resultType="com.idle.campers.accuse.dao.AccuseVO">
		SELECT * FROM TBL_ACCUSE WHERE ACCUSE_USERID = #{accuseUserId}
	</select>
	
	<!-- 아이디 제한 추가 -->
	<insert id="AccuseInsert">
		INSERT INTO TBL_ACCUSE (ACCUSE_ID ,ACCUSE_BRD, ACCUSE_REPLY, ACCUSE_REPORT, ACCUSE_CONTENT, ACCUSE_STATE, ACCUSE_RESULT, ACCUSE_RDATE, ACCUSE_USERID, ACCUSE_TITLE)
		VALUES(accuse_seq.nextval,#{accuseBrd},#{reply},#{accuseReport},#{accuseContent},#{accuseState},#{accuseResult},#{accuseRdate},#{accuseUserId}, #{accuseTitle})
	</insert>
	
	<!-- 아이디 제한 수정 -->
	<update id="AccuseUpdate">
		UPDATE TBL_ACCUSE
		SET ACCUSE_STATE = 1,
		ACCUSE_RESULT = #{accuseResult},
		ACCUSE_RDATE = sysdate
		WHERE ACCUSE_USERID = #{accuseUserId}
	</update>
	
	<!-- 아이디 제한 삭제 -->
	<delete id="AccuseDelete">
		DELETE FROM TBL_ACCUSE WHERE ACCUSE_USERID = #{accuseUserId}
	</delete>
	
</mapper>